<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul *ngIf="villes" class="list-group">
        <li [ngClass]="v==currentVille?'active':''" *ngFor="let v of villes._embedded.villes"
          class="list-group-item clickable" (click)="onGetCinemas(v)">
          {{v.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Liste des cinemas</div>
        <div class="panel-body">
          <ul *ngIf="cinemas" class="nav nav-pills">
            <li [ngClass]="c==currentCinema?'active':''" *ngFor="let c of cinemas._embedded.cinemas" class="clickable"
              (click)="onGetSalles(c)">
              <a>{{c.name}}</a>
            </li>
          </ul>
          <div class="row" *ngIf="salles">
            <div *ngFor="let s of salles._embedded.salles">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">{{s.name}}</div>
                  <div class="panel-body" *ngIf="s.projections">
                    <div class="row">
                      <div class="col-md-6">
                        <ul class="list-group">
                          <li class="list-group-item">Séances:</li>
                          <li [ngClass]="p==currentProjection?'active':''"
                            *ngFor="let p of s.projections._embedded.projections" class="list-group-item clickable"
                            (click)="onGetTicketsPlaces(p)">
                            {{p.seance.heureDebut}} {{p.prix}} MAD
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <img style="max-height: 200px"
                          src="{{cinemaService.host+'/afficheFilm/'+s.projections._embedded.projections[0].film.id}}" />
                      </div>
                    </div>
                    <div *ngIf="currentProjection">
                      <div *ngIf="currentProjection.tickets" class="row">
                        <button *ngFor="let t of currentProjection.tickets._embedded.tickets" class="btn btn-success ticket">
                          {{t.place.numero}}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>